* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.main {
    min-height: 1000px;
}
.logo{
    width: 20vh;
    position: relative;
}
.logo-reg-1{

    position: absolute;
    width: 50vh;
    top: -12px;
}
.logo-reg-2{

    position: absolute;
    width: 75vh;
}
.sticky-nav {
    position:-webkit-sticky;
    position:sticky;
    display: flex;
    top: 0;
    z-index: 9;
}



.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.secondary{
    background-color: #322348;
    color: white;
}

.mb-n12 {
    margin-bottom: -12px;
}

.admin_image{
    width: 100px;
    object-fit: contain;
}

.btn-green{
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #42C84F;
    --bs-btn-border-color: #42C84F;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #FF6E41;
    --bs-btn-hover-border-color: #FF6E41;

}


.categories:hover{
    background-color: #FF6E41;
}


.nav-button{
    color: white;
}
.nav-button:hover{
    color: #42C84F;
}
.ms-20 {
    margin-left: 200px !important;
}


.footer {
    background-color: #563D7C; 
    color: white;
}

.text-center {
    justify-content: center;
    width: 100%;
}

.text-grey {
    color: grey;
}

.products-sect {
    height: 1000px;
}

.view-prod-row {
    justify-content: center;
}

.img-detailed{
    width: 20vw;
}

html,
body {
  height: 100%;
}

.login {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }
  
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-purple-light {
    background-color: #563D7C;  
}


.btn-rounded {
    border-radius: 25px !important;
}

.cart_img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}
 
.profile-img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    margin: auto;
    
}



.fa-x-red{
    color: red;
}

.parent-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* --------------------------------------------------------------------------------------------------------------------------------------------- */

