* {
    margin: 0;
    padding: 0;
    box-sizing: border-box  ;
}

.main {
    min-height: 1000px;
}
.logo{
    width: 20vh;
}

.sticky-nav {
    position:-webkit-sticky;
    position:sticky;
    display: flex;
    top: 0;
    z-index: 9;
}



.card-img-top{
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.secondary{
    background-color: #322348;
    color: white;
}

.mb-n12 {
    margin-bottom: -12px;
}

.admin_image{
    width: 100px;
    object-fit: contain;
}

.btn-green{
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: #42C84F;
    --bs-btn-border-color: #42C84F;
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #FF6E41;
    --bs-btn-hover-border-color: #FF6E41;

}


.categories:hover{
    background-color: #FF6E41;
}
.ms-20 {
    margin-left: 200px !important;
}


.footer {
    background-color: #563D7C; 
    color: white;
}

.text-center {
    justify-content: center;
    width: 100%;
}

.text-grey {
    color: grey;
}

.products-sect {
    height: 1000px;
}