* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav-bar {
    width: 100%;
    height: 5em;
    background-color: #5F0B7C;
    display: flex;
    justify-content: space-around;
}

.nav-right {
    width: 3em;
}
.logo-nav {
    width: 10em;
}